/* body{
    
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    line-height: normal;
}
h1 {
margin: 50px auto 0 auto;
font-family: 'Sacramento', cursive;
font-size: 5.625rem;
line-height: 13.5rem;

color:#66BFBF;

}
h2{
    font-family: 'Montserrat', sans-serif;
    color:#66BFBF;
    font-size: 2.5rem;

}
h3{
    font-family: 'Montserrat', sans-serif;
  
    color:#11999E;
}

hr{
    
   border-style: dotted ;
   border-top: 1px white;
   height:0px;
   width: 5%;
   border-color: #EAF6F6;
   padding-bottom: 50px;
   border-left: none;
   border-right: none;
   border-width: 4px;
   width: 4%;
}
p{
    color:#40514E;
}
.top-container{
    background-color: #e0ece4;
    position: relative;
   
    padding-top: 100px;
    
    
    
}

.middle-container{
   background-color: gainsboro;
}
.bottom-container{
    background-color: #66BFBF;
    padding-bottom: 100px;

}

.mountain-image{
    height: 400px;
    
     
}
.cloud-image{
   position: relative;
   width: 250px;
   height: 90px;
   left: 300px;
   margin-top: 10px;
    
}
.cloud-image1{
    position: absolute;
    width: 250px;
    height: 90px;
    left: 250px;
    
}
.pro{
    text-decoration: underline;
}

.profile-image{
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 100%;
    text-align: center;
    top: 10px;
}
.code-skill{
   width: 25%;
    border-radius: 10%;
    text-align: center;
    top: 10px;
    float: left;
    margin:0 30px 0 0;
}

.security-skill{
   width: 25%;
    border-radius: 10%;
    text-align: center;
    top: 10px;
    float: right;
    margin:0 30px 0 0;
    
    
}

.footer-link{
    color: #11999E;
    position: relative;
    top: 40px;

    
}

.divone-text{
    font-weight: normal;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
}

.skill-p{
    text-align: left;
    line-height: 2;
}
.myButton {
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:linear-gradient(to bottom, #11999E 5%, #11999E 100%);
	background-color:#11999E;
	border-radius:8px;
	border:1px solid #11999E;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
    font-family: 'Merriweather', serif;
	font-size:20px;
	line-height:1.5;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #11999E;
    margin:100px auto 100px auto;
}
.myButton:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
}
.myButton:active {
	position:relative;
	top:1px;
}
.footer-link-text{
    color: #EAF6F6;
    position: relative;
    top:50px;
    line-height: 2;
}
a:link{
    
    padding: 14px 25px;
    background-color: #66BFBF;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
a:hover{
    color: #eaf6f6;
} */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 90%;
  margin: 0 auto;
}
.mainNav {
  display: flex;
  justify-content: space-between;
}
nav li {
  list-style: none;
}
.headerItems {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navItems1 + .navItems1 {
  margin-left: 1rem;
}
.navItems2 + .navItems2 {
  margin-left: 1rem;
}
svg {
  fill: #eea302;
}
.name {
  font-weight: bold;
  line-height: normal;
  font-size: 22px;
}
.profession {
  font-weight: 300;
}
.header__resume__Portolio_contact a {
  text-decoration: none;
  color: black;
}
.header__resume__Portolio_contact li {
  font-weight: 300;
}

.header__resume__Portolio_contact a:hover {
  transition: 0.5s;
  color: #eea302;
}

/* styling the main section */

.main {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
}
.container2 {
  width: 80%;
  margin: 0 auto;
}

.mainImg img {
  border-radius: 100%;
  max-width: 100%;
}

.mainBio {
  width: 90%;
  margin: 0 auto;
}

.callToAction {
  margin: 2rem auto;
  display: flex;
  justify-content: space-evenly;
}
.callToAction a {
  border-radius: 50%;
  text-decoration: none;
  text-align: center;
  color: black;
  position: relative;
  top: 40%;
}
.callToAction div {
  width: 85px;
  height: 85px;
  font-weight: 700;
  /* background-color: #eea302; */
  text-align: center;
  margin: auto 0;
  border-radius: 100%;
  border: 1px black solid;
}
.callToResume {
  background-color: #eea302;
}
.callToResume:hover,
.callToContact:hover,
.callToPortfolio:hover {
  transition: 500ms;
  background-color: rgb(243, 243, 243);
}
.callToPortfolio {
  background-color: #de2c04;
}

.callToContact {
  background-color: #83f9e7;
}

footer {
  border-top: 1px gray solid;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.phone,
.email,
.socials {
  font-weight: bold;
}
.x {
  color: black;
}
.github {
  color: #2c352c;
}

/* style for resume--work experience section */
.date {
  font-style: italic;
}
.positionHeld {
  font-weight: bold;
  font-size: larger;
  margin-left: 1rem;
}

/* style for the projects/portfolio section of the website */
.projectHeader {
  font-weight: bold;
  font-style: italic;
}
.projectDiv a {
  list-style: none;
  text-decoration: none;
}
.projectImage {
  max-width: 100%;
}
.projectBody {
  margin-top: 4rem;
  border-top: rgb(153, 138, 138) solid 1px;
}
.projectHeader {
  margin: 2rem auto;
}

.lastProject {
  margin-bottom: 8rem;
}

.awardsList {
  width: 70%;
  margin: 0 auto;
}
.tindog img {
  border-radius: 10%;
  transform: rotate(20deg);
  margin-left: 3rem;
}
footer {
  margin-top: auto;
}
/* Media query for desktop screens */
@media (min-width: 900px) {
  .main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .mainBio {
    width: 50%;
    margin: 0 auto;
  }
  .callToAction div {
    width: 130px;
    height: 130px;
    font-weight: 900;
    letter-spacing: 0.2rem;
  }
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  /* styles for resume.html */
  .aboutMe {
    width: 80%;
    margin: 0 auto;
  }
  .aboutMe p {
    width: 60%;
  }

  .workExperience {
    display: flex;
    align-items: baseline;
    border-top: rgb(194, 185, 185) solid 1px;
    margin-top: 5rem;
  }

  .workExperience-exp {
    width: 60%;
    margin-top: 2rem;
  }
  .workExperience-items {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  .awardingInst {
    font-weight: bold;
  }

  /* styles for the portfolio section of the websites */
  .portfolio {
    display: flex;
    flex-direction: column;
  }

  .projectBody {
    display: flex;
    justify-content: space-between;
  }
  .projectDiv {
    width: 50%;
    margin-right: 2rem;
    /* margin-top: 4rem; */
  }

  .imageDiv {
    width: 50%;
    align-self: center;
  }
}
